@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Prompt&display=swap");

:root {
  --primary-color: #3b556d;
  --secondary-color: #e9f0f7;
  --dark: #0b162c;
  --darkblue: #1c2942;
  --toolightblue: #5fc2ba;
  --font-family1: "Playfair Display", serif;
  --font-family2: "Prompt", sans-serif;
  margin: 0;
  line-height: 1.5;
  color-scheme: light dark;
  background-color: black;
}

.topbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  background-image: url("./assets/images/banner.gif");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 300px;
  max-height: 350px;
  min-width: fit-content;
  background-position: center;
}

.Fight {
  display: flex;
  justify-content: center;
}
.Fight > button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-family2,);
  font-size: 20px;
  border: thick double var(--secondary-color);
  border-radius: 10px;
  padding: 0.5rem;
}
