.card-container {
    min-width: 400px;
    min-height: 600px;
    background-color: #0B162C;
}

.image-card {
    width: 350px;
    height: 550px;
    margin: 0 20%;
}

.card-p {
    width: 60%;
    height: 50px;
    background-color: #3b556d;
    border: 2px #ffffff solid;
    color: #ffffff;
    box-shadow: none;
    margin: 0 18%;
    padding: 0.2rem;
}